{
    "extends": ["eslint:recommended", "plugin:@stylistic/recommended-extends"],
    "parserOptions": {
        "ecmaVersion": 2023,
        "sourceType": "module"
    },
    "settings": {
        "import/core-modules": ["logger", "node_helper"]
    },
    "env": {
        "browser": true,
        "node": true,
        "es2023": true
    },
    "root": true,
    "rules": {
        "curly": ["error", "all"],
        "@stylistic/object-property-newline": [
            "error",
            { "allowAllPropertiesOnSameLine": true }
        ]
    }
}
