{
    "extends": "stylelint-config-standard",
    "plugins": ["stylelint-prettier"],
    "rules": {
        "selector-class-pattern": [
            "^([a-z][a-z0-9]*|MMM-NHL)(-[a-z0-9]+)*$",
            { "message": "Expected class selector to be kebab-case" }
        ]
    }
}
