{% if loading %}
    <div class="dimmed light">{{ "LOADING" | translate }}</div>
{% else %}
    <header>NHL {{ modes[season.mode] | translate }} {{ season.year }}</header>
    <table class="small table">
        <thead>
            <tr>
                <th><i class="fa fa-calendar"></i></th>
                <th colspan="3">{{ "HOME" | translate }}</th>
                <th></th>
                <th colspan="3">{{ "AWAY" | translate }}</th>
            </tr>
        </thead>
        <tbody>
            {% for index in range(rotateIndex, maxGames) %}
                <tr>
                    <td>{{ games[index] | calendar }}</td>
                    <td class="align-right">{{ games[index].teams.home.short }}</td>
                    <td><img class="icon {{ "no-color" if not config.colored }}" src="https://assets.nhle.com/logos/nhl/svg/{{ games[index].teams.home.short }}_light.svg"/></td>
                    <td>{{ games[index].teams.home.score }}</td>
                    <td>:</td>
                    <td>{{ games[index].teams.away.score }}</td>
                    <td><img class="icon {{ "no-color" if not config.colored }}" src="https://assets.nhle.com/logos/nhl/svg/{{ games[index].teams.away.short }}_light.svg"/></td>
                    <td class="align-left">{{ games[index].teams.away.short }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
